.footer {
	width: 100%;
	height: 71px;
	background-color: #eee;
	border-radius: 10px 10px 0px 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 40px;
	margin-bottom: 0px;
	border-top: 1px solid #eee;
}

.footer>div {
	height: 68px;
}

.footer>div>div {
	height: 68px;
	text-align: center;
}

.footer-members {
	height: 68px;
	text-align: right;
}

.logo-miage {
	border-radius: 10px 10px 10px 10px;
}