      #googleMap{
        border: 1px dashed #C0C0C0;
        width: 900px;
        height: 700px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 50px;
      }
      
     td:first-child {
     text-align: center;
     }

     .sliderFilter {
      width: 380px;
     }

     .filtertable {
      width: 689px;
     }
     
     td[class^="min-"] {
     width: 50px;
     }
     
     .pie {
     	width:100%;
     	height: 600px;
     }

   	.pie .highcharts-data-labels text{
   		font-size: 17px !important;
   	}
   	
   	.pie .highcharts-title {
   		font-size: 22px !important;
   	}
     	
     .media {
     	width: 450px;
     }