 	#container{
        position:relative;
        height:700px;
      }
      #googleMap{
        border: 1px dashed #C0C0C0;
        width: 900px;
        height: 700px;
		margin-left: 10%;
      }
      
     td:first-child {
     text-align: center;
     }

     .sliderFilter {
      width: 380px;
     }

     .filtertable {
      width: 689px;
     }
     
     td[class^="min-"] {
     width: 50px;
     }
     
     .masthead {
     	margin-top: 0px;
     	margin-bottom: 30px;
     	width: 100%;
     	background-color: #E4E0E0;
     	border-radius: 7px 7px 7px 7px;
     	display: inline-block;
     }
     
     .pie {
     	width:100%;
     	height: 600px;
     }

     	.pie .highcharts-data-labels text{
     		font-size: 17px !important;
     	}
     	
     	.pie .highcharts-title {
     		font-size: 22px !important;
     	}
     	
     .media {
     	width: 450px;
     }
     
     .text-muted{
     	color: black;
     	font-size: 70px;
     	font-weight: bold;
     }
     
     .participant{
     	padding-left: 10px;
     	font-weight: bold;
     	color: grey;
     }
     
     .container{
     	width: 95%;
     	padding-left: 10px;
     	padding-right: 10px;
     }
     
     .footer{
		background-color: #E4E0E0;
		border-radius: 10px 10px 0px 0px;
     }
     
     .footer>p{
     	text-align: right;
     }